li {
    color: rgb(125, 237, 165);
}

a {
    color: rgb(125, 237, 165); 
}
body {
    background-color: black;
}

p {
    color: rgb(209, 205, 199);
}

h1 {
    color: rgb(209, 205, 199);
}

h2 {
    color: rgb(209, 205, 199);
}

h3 {
    color: rgb(209, 205, 199);
}


span {
    color: rgb(28, 30, 31);
}
