* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}

body {
    background-color: rgb(215, 210, 210);
    width: 90%;
    margin: 20px auto;
    
}