/* selector de etiqueta, este afecta todas las etiquetas */
h1 {
    color:red;
    font-size: 40px;
}

/* selector universal */

* {
    margin: 0;
}

/* selector de atributos de clase */
.parrafoazul {
    color: blue;
    ont-size: 20px;
}

/* selector de ID */
#parrafoverde {
    color: green;
    ont-size: 20px;
}

.caja {
    background-color: blue;
    padding: 20px;
    /* margin: 25px; */
    /* margin-top: 130px;
    margin-bottom: 100px; */
    margin: 100px 40px 100px 30px;
    
    color: white;
}